<div class="container">
    
    <div class="jumbotron">

      <img src="assets/img/burger.png" style="width:250px;height:350px;">

      <h1>Eat-Da-Burger!</h1>
      
      <h3>A restaurant app that lets YOU input the names of burgers you'd like to eat!</h3>     

    </div>

    <div class="row">

      <div class="col col-lg-6">

        <div class="panel panel-default">

          <div class="panel-heading">

            <h3 class="panel-title"><strong>Enter a burger you want to eat then click the "Submit" button.</strong></h3>

          </div>

          <div class="panel-body">

            <input type="text" id="character-search" class="form-control">
            
            <div class="text-right">
              <button type="submit" class="btn btn-primary btn-md" id="search-btn"> Submit</button>
              
            </div>
          </div>
        </div>
      </div>      
    </div>  

<h2 class="text-center">Burgers to be devoured!</h2>
    
    <ul>
      {{#each burgers}} 
      {{#unless this.devour}}
      <li>
        {{this.burger_name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devour" value="false">
          
          <button type="submit">DEVOUR!</button>
        </form>

      </li>
      {{/unless}} 
      {{/each}}
    </ul>
  </div>
</div>

<div class="container-fluid">
  <div class="jumbotron">
    <h2 class="text-center">Burgers that have been devoured!</h2>
    
    <ul>
      {{#each burgers}} 
      {{#if this.devour}}
      <li>
        {{this.burger_name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devour" value="true">
        </form>

      </li>
      {{/if}} 
      {{/each}}
    </ul>
  </div>
</div>

<div class="container-fluid">
  <div class="jumbotron">
    <h2 class="text-center">Add a burger!</h2>
    
    <form class="create-update-form" action="burger/create" method="POST">

      <div class="form-group">
        <label for="burger">Burger Name:</label>
        <input type="text" id="burger" name="name">
      </div>

      <div class="form-group" type="hidden">
        <input type="hidden" name="devour" value="0">
      </div>

      <button type="submit">Add Burger</button>
    </form>
  </div>
</div>
